
$saleColor = #1fc4a1

body
	.ss-products-page

		.ss-product-btn
			display block
			margin-bottom 1rem
			border-radius(7px)
			font-size 1.5rem
			border 0
			text-transform uppercase
			transition background-color 0.5s ease
			color white
			&.btn-round
				border-radius(20px)
		.btn.btn-transparent
			background-color transparent
			display inline
			border 1px solid black
			color black
			font-size 1.25rem
			font-weight 200
			padding .5rem 2rem
			font-weight bold
			border-radius(7px)
			i
				padding 1rem
				font-size .8rem
			&.white-txt
				color white
				border 3px solid gray-09
			&.btn-clear-round
				border-radius(20px)
							
		.sold-out
			margin-bottom 1.5rem
			strong
				display block
				padding-top 10px
				font-size 3.8rem
				color #d23

		.ss-product
			text-align center
			color white
			background-color transparent
			padding 2em 0
			position relative
			.btn
				display block
				margin-bottom 1.75em
				padding .75em .5em
				border-radius(7px)
				border 0
				text-transform uppercase
		.mastering-series-products
			h3
				font-size 3rem
			p
				font-size 1.5rem
				color gray-09
				font-weight 600
				line-height 1.6
				text-align left
			.price-container
				.ss-header-font, .bold-font
					font-size 1.75em
					color $saleColor
			.btn-container
				text-align center
			.btn-container2
				margin-bottom 1.5rem
				.btn
					background-color $saleColor
					margin-bottom 1.3rem
					display block
				.sold-out.btn
					color #222
					background-color #fff
					cursor default
			.product-block
				min-height 425px
				.ss-product
					padding 0